/* sidemenu.css */

.side-menu {
    background-color: #ffffff !important; /* Change to the desired color */
    height: 94.2vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  

.logo img {
    width: 240px; /* Adjust the logo size as needed */
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    color: var(--base-brand, rgb(216, 216, 230));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .list li:hover {
  background: var(--background-brand, rgba(24, 21, 161, 0.1)); /* Change to your desired hover background color */
  color: #ffffff; /* Change to white or your desired text color */
}

  .list li{
    margin-bottom: 10px;
  border: 1px solid #f0f0f0; /* Border color, change as needed */
  border-radius: 8px; /* Adjust the border-radius for rounded corners */
  background-color: #fcfcfc; /* Background color, change as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow, adjust as needed */
  }

  .list a {
    text-decoration: none;
    color: var(--content-secondary, #777676); /* Change to the desired text color */
    font-size: 18px; /* Adjust font size as needed */
  display: block;
  padding: 10px; /* Adjust the padding for spacing */
  border-radius: 8px; /* Match the border-radius for consistent corners */
  }
  
  .list a:hover {
    text-decoration: underline;
  }
  

.info h4,
.info h5 {
  margin: 5px 0; /* Adjust the top and bottom margin as needed */
  color: #000; /* Change to the desired text color */
}

.elon{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    align-items: center;
    margin-top: 130px;
}
.elon-img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}