/* App.css */
.app-container {
  display: flex;
}

.side-menu {
  width: 250px;
  background-color: #333;
  color: black;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.data-table {
  flex: 1;
  padding: 20px;
}

